.header_container {
  background-color: #FFFFFF;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 20px; 
  }

  .header_container img {
    height: auto;
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 1024px) {
    .header_container img {
      width: 80%; 
    }
  }

  @media (max-width: 435px) {
    .header_container img {
      width: 90%;
      margin: 10px; 
    }
  }
    
