header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    min-height: 100vh;
  }

h1 {
    font-family: 'Caprasimo', cursive;
    font-size: 3rem;
    margin: 0 auto 3rem auto;
    color: #3f3b00;
  }