.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  padding: 72px 40px 49px 40px;
  gap: 39px;
  border-radius: 18px;
  background: #F8F8F8;
  position: relative;
  max-width: 1100px;
  width: 100%; 
  margin: 0 auto;
}

.header_container {
  display: flex;
  flex-direction: column;
}

.board_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #FFCB45;
  padding: 15px;
  border-radius: 30px;
  border: 2px solid #000000
}

.winner {
  display: flex;
  justify-content: center;
    width: 900px;
    height: 500px;
    padding: 16px;
    border-radius: 18px;
    background: #FFBD12;
}

.draw {
  display: flex;
  justify-content: center;
    width: 900px;
    height: 500px;
    padding: 16px;
    border-radius: 18px;
    background: #FFAFC8;
    margin-bottom: 40px;
}

.game_text {
  display: flex;
  align-items: center;
  font-size: 7rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 100px;
  height: 30vh;
  color: #848484;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 16px;
  border-radius: 18px;
  background: #2b2b2b;
}

#players {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 83%;
}

.player_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
}

.playerOne {
  background: #B487FD;
  border: 2px solid #000000;
  width: 320px;
  height: 130px;
  border-radius: 18px;
}

.playerTwo {
  background: #87FDCC;
  border: 2px solid #000000;
  width: 320px;
  height: 130px;
  border-radius: 18px;
}


#players button:hover {
  color: #f8ca31;
}

.buttons_container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  position: absolute;
  z-index: 1;
}

.start-game-button {
  padding: 12px 20px;
  margin: 10px 0;
  background-color: #ffbd12;
  border: 3px solid #1a1a1a;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
}

.start-game-button:hover {
  background-color: #45a039;
}

.challenge-friend {
  padding: 12px 20px;
  margin: 10px 0;
  background-color: #87fdcc;
  border: 2.91px solid #1a1a1a;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
}

.challenge-friend:hover {
  background-color: #45a039;
}