.declaration_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 600px;
  height: 350px;
  gap: 40px;
}

.winner_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 200px;
  margin-top: 30px
}

.winner_name h4 {
  font-size: 21px;
  font-weight: 600;
  line-height: 42px;
  margin: 0
}

.winner_name h3 {
  font-size: 42px;
  font-weight: 588;
  line-height: 42px;
  margin: 0
}

.winner_name h2 {
  font-size: 85px;
  font-weight: 800;
  line-height: 100px;
  margin: 0;
}

.image {
  position: relative;
  width: 220px; 
  height: 360px; 
}

.buttons_container, .draw_buttons_container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: absolute;
    margin-top: 40%;
  }

  .start-game-button {
    padding: 12px 20px;
    margin: 10px 0;
    background-color: #FFFFFF;
    border: 3px solid #1a1a1a;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
  }

  .challenge-friend {
    padding: 12px 20px;
    margin: 10px 0;
    background-color: #87fdcc;
    border: 2.91px solid #1a1a1a;
    border-radius: 15px;
    font-weight: 600;
    margin: 0;
    cursor: pointer;
  }

  @media (max-width: 1024px) {
    .buttons_container, .draw_buttons_container {
      margin-top: 50%;
    }
  }

  @media (max-width: 435px) {
    .image {
      width: 65%;
      height: 65%;
   
    }
    
    .declaration_container {
      height: 450px;
      flex-direction: column;
    }

    .winner_name {
      width: 300px
    }

    .winner_name h2 {
      font-size: 70px;
    }

    .winner_name h3 {
      margin-top: 20px;
      font-size: 50px;
    }

    .winner_name h4 {
      font-size: 35px;
    }

    .winner_name {
      transform: translateY(-50px);
    }

    .identity h3 {
      font-size: 30px;
    }

    .identity h5 {
      font-size: 15px;
    }

    .winner_identity, .identity {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center ;
      width: 100%;
      height: 100%;
    }

    .buttons_container {
      margin-top: 115%;
    }

    .draw_buttons_container {
      margin-top: 125%;
    }
  }
