.header_container {
  width: 70vw;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.header_container img {
  height: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .header_container {
    width: 100%;
    justify-content: center;
  }
}
