.names_inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform: translateX(-20px);
}

.name_input {
    width: 37%;
}

.name_input img {
    position: absolute;
    left: 30px;
    transform: translateY(9px); 
}

.rivalName_input {
    width: 37%;
}

.rivalName_input img {
    position: absolute;
    transform: translateY(9px);
    left: 60%;
}